#pop-up-img{
  width: 500px;
  position: absolute;
  top:30%;
  z-index: 10;
  left: 30%;
}
h1{
  text-align: center;
  margin-bottom: 60px;
}
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: end;
  }
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}

.expand{
	position: relative;
	width: 100%;
}

.x-style{
	position: absolute;
	right: 0;
	height: 20px;
	width: 20px;
	z-index: 999;
	padding: 10px 10px 0 0;
}